.env
.venv/
.idea/



# ignore models -> too large to push with git
models/

# ignore everything in accelerate fine tune except for python, yaml
Accelerate_Fine_Tuning/*
!Accelerate_Fine_Tuning/*.py
!Accelerate_Fine_Tuning/*.yaml
